@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
    background: #111;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 3em;
    text-align: center;
    height: 25vh;
    width: 99vw;
    display: block;
    /* position: absolute; */
    color: white;
    top: 10;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}